.btn
	$parent: &
	position: relative
	display: inline-block
	padding: 18px 40px 22px
	border-radius: 36px
	height: 72px
	min-width: 145px
	+f('Gilroy-ExtraBold',20,32,0)
	text-align: center
	color: $color6
	+sm
		padding: 12px 30px 13px
		font-size: 16px
		height: auto
	
	&__text
		position: relative
		display: block
		z-index: 2
	
	&__bg
		+ratio-in
		z-index: 1
		background-color: $color4
		border-radius: 5000px
		&-left
			position: absolute
			top: calc(50% - 2px)
			left: 0
			display: flex
			&-dot
				width: 4px
				height: 4px
				border-radius: 50%
				background-color: $color6
				margin-left: 6px
				opacity: 0
				+trs
				&:nth-child(1)
					transform: translateX(30px)
					transition-delay: 0.3s
					.no-touch #{$parent}:hover &
						transform: translateX(0)
						transition-delay: 0s
				&:nth-child(2)
					transform: translateX(20px)
					transition-delay: 0.15s
					.no-touch #{$parent}:hover &
						transform: translateX(0)
						transition-delay: 0.15s
				&:nth-child(3)
					transform: translateX(10px)
					transition-delay: 0s
					.no-touch #{$parent}:hover &
						transform: translateX(0)
						transition-delay: 0.3s
				.no-touch #{$parent}:hover &
					opacity: 1
					transform: translateX(0)
		&-right
			position: absolute
			top: calc(50% - 2px)
			right: 0
			display: flex
			&-dot
				width: 4px
				height: 4px
				border-radius: 50%
				background-color: $color6
				margin-right: 6px
				opacity: 0
				+trs
				.no-touch &:hover
					opacity: 1
					transform: translateX(0)
				&:nth-child(3)
					transform: translateX(-30px)
					transition-delay: 0.3s
					.no-touch #{$parent}:hover &
						transform: translateX(0)
						transition-delay: 0s
				&:nth-child(2)
					transform: translateX(-20px)
					transition-delay: 0.15s
					.no-touch #{$parent}:hover &
						transform: translateX(0)
						transition-delay: 0.15s
				&:nth-child(1)
					transform: translateX(-10px)
					transition-delay: 0s
					.no-touch #{$parent}:hover &
						transform: translateX(0)
						transition-delay: 0.3s
				.no-touch #{$parent}:hover &
					opacity: 1
					transform: translateX(0)

	// white
	&_white
		padding: 18px 40px 24px
		color: $color4
	&_white &__bg
		background-color: transparent
		border: 2px solid $color4
		&-left-dot,
		&-right-dot
			background-color: $color4