.header
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 99
	+f('MullerRegular',16,32,0)
	color: $color6
	$parent: &
	+md
		position: absolute
	&.is-fixed
		position: fixed
		background-image: linear-gradient(-99deg, $color2 0%, $color3 100%)
	
	&__container
		padding-top: 24px
		display: flex
		justify-content: space-between
		align-items: center
		+md
			padding-top: 16px
			padding-bottom: 11px
		+sm
			padding-top: 18px
			padding-bottom: 12px
	
	&__logo
		display: block
		position: relative
		z-index: 2
		width: 136px
		height: 32px
		+sm
			width: 124px
			height: 29px
		&-img
			width: 100%
			height: 100%
			
	&__right
		position: relative
		top: 4px
		display: flex
		align-items: center
		+md
			top: 0
		+sm
			top: 4px
			
	&__nav
		+md
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			position: fixed
			z-index: 1
			top: 0
			left: 0
			width: 100%
			height: 100vh
			+f('Gilroy-ExtraBold',22,28,40)
			text-transform: uppercase
			background-image: linear-gradient(-144deg, $color2 0%, $color3 100%)
			opacity: 0
			visibility: hidden
		+sm
			justify-content: flex-start
			padding-top: 60px
			+gpu
		ul
			display: flex
			+md
				display: block
				margin-left: 20px
				padding: 20px
			li
				position: relative
				+md
					opacity: 0
				&:not(:first-child)
					+md
						margin-top: 17px
				&:before,
				&:after
					pointer-events: none
					content: ''
					position: absolute
					top: calc(100% + 2px)
					left: calc(50% - 2px)
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: $color8
					opacity: 0
					+trs
				.no-touch &:hover
					&:before
						opacity: 1
						left: calc(50% - 12px)
					&:after
						opacity: 1
						left: calc(50% + 8px)
			a
				position: relative
				display: block
				padding: 0 14px
				+trs
				.no-touch &:hover
					color: $color8
				&:before
					pointer-events: none
					content: ''
					position: absolute
					top: calc(100% + 2px)
					left: calc(50% - 2px)
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: $color8
					opacity: 0
					+trs
				&:after
					+md
						content: ''
						position: absolute
						right: calc(100% - 4px)
						bottom: 7px
						display: block
						width: 4px
						height: 4px
						border-radius: 50%
						background-color: $color4
				.no-touch &:hover
					&:before
						opacity: 1
						
	&__chat
		position: relative
		z-index: 2
		display: block
		margin-left: 50px
		font-size: 26px
		+md
			display: none
		&:before,
		&:after
			pointer-events: none
			content: ''
			position: absolute
			top: calc(100% + 5px)
			left: calc(50% - 2px)
			width: 4px
			height: 4px
			border-radius: 50%
			background-color: $color8
			opacity: 0
			+trs
		.no-touch &:hover
			&:before
				opacity: 1
				left: calc(50% - 12px)
			&:after
				opacity: 1
				left: calc(50% + 8px)
		&-icon
			display: block
			color: $color4
			&:before
				pointer-events: none
				content: ''
				position: absolute
				top: calc(100% + 5px)
				left: calc(50% - 2px)
				width: 4px
				height: 4px
				border-radius: 50%
				background-color: $color8
				opacity: 0
				+trs
			.no-touch &:hover
				&:before
					opacity: 1
		.icon
			display: block
			
	&__lang
		position: relative
		z-index: 2
		margin-left: 15px
		margin-right: -15px
		text-transform: uppercase
		cursor: pointer
		+sm
			margin-top: -18px
		> ul
			position: relative
			ul
				position: absolute
				top: 100%
				padding-top: 10px
				left: 0
				opacity: 0
				pointer-events: none
				+trs
				a
					transform: translateY(-10px)
					+md
						color: #a0a0a0
			a
				display: block
				position: relative
				padding: 0 15px
				+trs
				.no-touch &:hover
					color: $color8
			> li > a
				&:before
					pointer-events: none
					content: ''
					position: absolute
					top: calc(100% - 3px)
					left: calc(50% - 2px)
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: $color8
					opacity: 0
					+trs
			.no-touch &:hover
				> li > a
					&:before
						top: calc(100% + 2px)
						opacity: 1
				ul
					opacity: 1
					pointer-events: auto
					a
						transform: translateY(0)
		&.is-active > ul > li > a
			&:before
				top: calc(100% + 2px)
				opacity: 1
		&.is-active > ul
			ul
				opacity: 1
				pointer-events: auto
				a
					transform: translateY(0)
						
	&__menu-btn
		display: none
		position: relative
		margin-left: 15px
		top: 7px
		z-index: 2
		+md
			display: block
		+sm
			top: 0
			margin-top: -4px
		.icon
			+trs
			&:first-child
				position: relative
				top: 1px
				font-size: 14px
			&:not(:first-child)
				position: absolute
				top: 0
				right: 0
				opacity: 0
				font-size: 20px
		&.is-active .icon
			&:first-child
				opacity: 0
			&:not(:first-child)
				opacity: 1
				
	&__mobile-chat-btn
		display: none
				