+b.SECTION.example#example(data-scroll-section)
	+e.container.container
		+e.H2.title Примеры работ

		+e.slider-wrap
			+e.slider-counter
				+e.slider-counter-current
				+e.slider-counter-total
			+e.slider-btn
				-btnClass = '_default js-modal'
				-btnText = 'Заказать себе бот'
				-
					attributes = {
						'data-target': '#orderBot'
					}
				include ../../components/btn
			+e.slider
				+e.slider-item
					+e.slider-row
						+e.slider-left
							+e.slider-image
								+e.IMG.slider-img(src='static/img/content/loc-slider-1.jpg' alt='image')
								+e.SVG.slider-image-svg(viewBox='0 0 393 373.7' preserveAspectRatio='none')
									path(d="M393,179.6v5.2C393,183.1,393,181.3,393,179.6z")
									path(d="M333.6,340c-39.4,28.4-144.5,51.2-246,15C-17.4,317.5-13,184.3,23.3,120.5C59.7,56.3,50.1,0.2,113.6,0c63.8-0.2,87.8,16.4,186.5,8.9c57.2-4.3,92.4,82.6,93,170.7V0H0v373.7h393V184.8C392.7,247.9,374.3,310.7,333.6,340z")
							+e.slider-chat
								+e.slider-chat-text(href='#!' target='_blank' data-text-mobile='Поговорить с этим ботом') Поговорить с ботом
								+e.slider-chat-icon(href='#!' target='_blank')
									+i('telegram')
								+e.slider-chat-icon(href='#!' target='_blank')
									+i('facebook')
						+e.slider-right
							+e.H3.slider-title Киевский зоопарк
							+e.slider-text
								p <strong>Задача:</strong> В связи с большим количеством простых запросов от клиентов, нужно было снизить нагрузку на колл центр заведения и упростить пользователю комуникацию по интересующим его вопросам.
								p <strong>Результат:</strong> Разработан универсальный бот для месенджера Facebook, который сизил нагрузку на колл центр на 34% в течение первых 2 месяцев после запуска.

				+e.slider-item
					+e.slider-row
						+e.slider-left
							+e.slider-image
								+e.IMG.slider-img(src='static/img/content/loc-slider-2.jpg' alt='image')
								+e.SVG.slider-image-svg(viewBox='0 0 393 373.7' preserveAspectRatio='none')
									path(d="M393,179.6v5.2C393,183.1,393,181.3,393,179.6z")
									path(d="M333.6,340c-39.4,28.4-144.5,51.2-246,15C-17.4,317.5-13,184.3,23.3,120.5C59.7,56.3,50.1,0.2,113.6,0c63.8-0.2,87.8,16.4,186.5,8.9c57.2-4.3,92.4,82.6,93,170.7V0H0v373.7h393V184.8C392.7,247.9,374.3,310.7,333.6,340z")
							+e.slider-chat
								+e.slider-chat-text(href='#!' target='_blank' data-text-mobile='Поговорить с этим ботом') Поговорить с ботом
								+e.slider-chat-icon(href='#!' target='_blank')
									.
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
										<style type="text/css">.st0{fill:#DB285E;}.st1{fill:#FCFCFC;}.st2{fill:#D8D7DA;}</style>
										<circle cx="256" cy="256" r="256"/>
										<path class="st1" d="M164.7,311.1l-82.6-41.3c-2.3-1.1-2.3-4.4,0-5.5l313.7-162.2c2.3-1.2,5,0.8,4.5,3.4l-54,270c-0.4,1.9-2.4,3-4.3,2.2l-73.4-31.5c-0.9-0.4-1.9-0.3-2.7,0.1L171,399.1c-2.1,1.1-4.6-0.3-4.6-2.7v-82.5C166.4,312.7,165.7,311.7,164.7,311.1z"/>
										<path class="st2" d="M200.3,339l-0.5-82.4c0-0.5,0.3-1,0.7-1.3l133.9-81.8c1.5-0.9,3.1,1.1,1.9,2.3L234.4,278.4c-0.1,0.1-0.2,0.2-0.3,0.4l-17.4,34.9l-13.5,26C202.4,341,200.3,340.5,200.3,339z"/>
										</svg>
								+e.slider-chat-icon(href='#!' target='_blank')
									+i('facebook')
						+e.slider-right
							+e.H3.slider-title Новостные агенства и популярные агенства
							+e.P.slider-text CNN, Forbes, TechCrunch имеют своих чат-ботов.

				+e.slider-item
					+e.slider-row
						+e.slider-left
							+e.slider-image
								+e.IMG.slider-img(src='static/img/content/loc-slider-3.jpg' alt='image')
								+e.SVG.slider-image-svg(viewBox='0 0 393 373.7' preserveAspectRatio='none')
									path(d="M393,179.6v5.2C393,183.1,393,181.3,393,179.6z")
									path(d="M333.6,340c-39.4,28.4-144.5,51.2-246,15C-17.4,317.5-13,184.3,23.3,120.5C59.7,56.3,50.1,0.2,113.6,0c63.8-0.2,87.8,16.4,186.5,8.9c57.2-4.3,92.4,82.6,93,170.7V0H0v373.7h393V184.8C392.7,247.9,374.3,310.7,333.6,340z")
							+e.slider-chat
								+e.slider-chat-text(href='#!' target='_blank' data-text-mobile='Поговорить с этим ботом') Поговорить с ботом
								+e.slider-chat-icon(href='#!' target='_blank')
									+i('telegram')
								+e.slider-chat-icon(href='#!' target='_blank')
									+i('facebook')
						+e.slider-right
							+e.H3.slider-title Новостные агенства будущего
							+e.P.slider-text CNN, Forbes, TechCrunch имеют своих чат-ботов. Возможные сценарии: отправка новостей, подписка на новости, поиск новости по тегу.
