/* ===================================
	 article-header
	 =================================== */
.article-header
	padding-top: 48px
	padding-bottom: 62px
	position: relative
	color: $color6
	+sm
		padding-top: 18px
		padding-bottom: 42px
	&__bg
		pointer-events: none
		+ratio-in
		z-index: 0
		+cover-img
		&:before
			content: ''
			pointer-events: none
			+ratio-in
			opacity: 0.5
			background-image: linear-gradient(-45deg, $color4 0%, #1e14a8 100%)
		&-mask
			z-index: 1
			bottom: -1px
			left: -5px
			right: -5px
			+ratio(1280,537)
			position: absolute
			svg
				+ratio-in
				display: block
				width: 100% !important
				fill: $color6
		
	&__container
		z-index: 1
		
	&__title
		+f('Gilroy-Bold',50,55,0)
		text-transform: none
		max-width: 640px
		+md
			font-size: 40px
			line-height: 45px
		+sm
			font-size: 25px
			line-height: 30px
		&:not(:last-child)
			margin-bottom: 21px
			+sm
				margin-bottom: 11px
		
	p
		max-width: 810px
		
/* ===================================
	 article-content
	 =================================== */
.article-content
	padding-top: 62px
	padding-bottom: 38px
	+sm
		padding-top: 42px
	
	&__share
		margin-top: 40px
		text-align: center
		&-in
			display: inline-flex
			justify-content: center
			align-items: center
			padding: 0 40px
			height: 72px
			border-radius: 36px
			overflow: hidden
			background-image: linear-gradient(to left, #1e14a8 0%, $color4 100%)
			+sm
				height: 57px
				padding: 0 20px
		&-text
			+f('Gilroy-Bold',20,32,0)
			color: $color6
			white-space: nowrap
			+sm
				font-size: 16px
				line-height: 24px
		&-soc
			position: relative
			font-size: 26px
			margin-left: 22px
			color: #231EB1
			display: flex
			+sm
				margin-left: 12px
			.icon
				display: block
			&-icon-wrap
				position: relative
				&:not(:first-child)
					margin-left: 15px
					+sm
						margin-left: 5px
				&:before,
				&:after
					pointer-events: none
					content: ''
					position: absolute
					top: calc(100% + 5px)
					left: calc(50% - 2px)
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: $color8
					opacity: 0
					+trs
				.no-touch &:hover
					&:before
						opacity: 1
						left: calc(50% - 12px)
					&:after
						opacity: 1
						left: calc(50% + 8px)
			&-icon
				&:before
					pointer-events: none
					content: ''
					position: absolute
					top: calc(100% + 5px)
					left: calc(50% - 2px)
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: $color8
					opacity: 0
					+trs
				.no-touch &:hover
					&:before
						opacity: 1
		