extends ../extend/default

block variables
	- var title = 'Article page';
	-footerSub = true
	-articlePage = true

block main
	main.content(data-page='article')
		+b.breadcrumbs
			+e.container.container_md
				ul
					li: a(href='#!') Главная
					li: a(href='#!') Блог
					li: a(href='#!') Для чего нужны боты и как они работают?
		+b.SECTION.article-header
			+e.bg
				img(src='static/img/content/bg-article.jpg' alt='image')
				+e.bg-mask
			+e.container.container_md
				+e.H1.title Для чего нужны боты и как они работают?
				p Согласно Wikipedia, бот – это специальная программа, выполняющая автоматически и/или по заданному расписанию какие-либо действия через тот же интерфейс, что и обычный пользователь.
		+b.SECTION.article-content
			+e.container.container_md
				+b.article
					p Проще говоря, это робот, который умеет отвечать на определенные запросы и выполнять предусмотренные для него действия.
					p Начало массовому использованию ботов в сервисах обмена мгновенными сообщениями положил мессенджер Telegram, создатели которого представили собственную платформу для ботов в 2015 году и открыли доступ к API.
					p Так, постепенно, рядом с обычными пользователями Telegram стали появляться аккаунты роботов. Они расширяют диапазон возможностей мессенджера, экономят время пользователя и ресурсы мобильного устройства.
					p Боты ищут по запросу информацию, автоматизируют и упрощают определенные действия, уведомляют о публикациях в соцсетях, предоставляют услуги различных компаний и в конце концов просто развлекают.
					p Возможности у ботов – индивидуальные.
					ul
						li <b>@telerobot_bot</b> помогает перевести интерфейс <a href='#!' target='_blank'>Telegram</a> на русский или украинский языки
						li <b>@ImageSearchBot</b> ищет изображения по запросу
						li <b>@weatherman_bot</b> показывает погоду в вашем городе
						li <b>@Instasave_bot</b> сохраняет фото с Instagram и видео c <b>YouTube</b>, а <b>@tap2bot</b> и вовсе многофункциональный бот, умеющий и фильм на вечер подобрать и билеты на самолет найти.
					+e.image
						img(src='static/img/content/loc-slider-1.jpg' alt='image')

					p Боты ищут по запросу информацию, автоматизируют и упрощают определенные действия, уведомляют о публикациях в соцсетях, предоставляют услуги различных компаний и в конце концов просто развлекают.
					p Возможности у ботов – индивидуальные.
					ol
						li <b>@telerobot_bot</b> помогает перевести интерфейс <a href='#!' target='_blank'>Telegram</a> на русский или украинский языки
						li <b>@ImageSearchBot</b> ищет изображения по запросу
						li <b>@weatherman_bot</b> показывает погоду в вашем городе
						li <b>@Instasave_bot</b> сохраняет фото с Instagram и видео c <b>YouTube</b>, а <b>@tap2bot</b> и вовсе многофункциональный бот, умеющий и фильм на вечер подобрать и билеты на самолет найти.
					blockquote Согласно Wikipedia, бот – это специальная программа, выполняющая автоматически и/или по заданному расписанию какие-либо действия через тот же интерфейс, что и обычный пользователь.

				+e.hash
					a(href='#!') #Новостные агенства
					a(href='#!') #Боты
					a(href='#!') #Просто агенства
					a(href='#!') #Просто агенства
					a(href='#!') #Просто агенства

				+e.share
					+e.share-in
						+e.P.share-text Поделитья статьей
						+e.share-soc
							-socList = ['fb', 'twitter', 'telegram']
							each el in socList
								+e.share-soc-icon-wrap
									-socIconClass = '_default __share-soc-icon'
									-socIcon = el
									-socHref = true
									include ../components/soc-icon