extends ../extend/default

block variables
	- var title = 'Blog page';

block main
	main.content(data-page='blog')
		+b.breadcrumbs
			+e.container.container_md
				ul
					li: a(href='#!') Главная
					li: a(href='#!') Блог
		+b.SECTION.blog
			+e.container.container_md
				+e.H1.title Интересные статьи о ботах
				+e.list
					-
						List = [[
						'10 причин, по которым чат-боты – это будущее мобильных приложений для смартфонов',
						'Согласно Wikipedia, бот – это специальная программа, где выполняющая автоматичеcкие автоматичеcкие автоматичеcкие автоматичеcкие автоматичеcкие'
						], [
						'10 причин, по которым чат-боты – это будущее мобильных приложений для смартфонов',
						'Согласно Wikipedia, бот – это специальная программа, где выполняющая автоматичеcкие пироги с вишней, приводит пользователя к конечному про автоматичеcкие автоматичеcкие автоматичеcкие'
						], [
						'Как создать чат-бота, который ухудшит ваш бизнес',
						'Согласно Wikipedia, бот – это специальная программа, где выполняющая автоматичеcкие пироги с вишней, приводит пользователя к конечному про автоматичеcкие автоматичеcкие автоматичеcкие'
						], [
						'Зачем бизнесу нужен чат-бот?',
						'Согласно Wikipedia, бот – это специальная программа, где выполняющая автоматичеcкие пироги с вишней, приводит пользователя к конечному про автоматичеcкие автоматичеcкие автоматичеcкие'
						], [
						'10 причин, по которым чат-боты – это будущее мобильных приложений для смартфонов',
						'Согласно Wikipedia, бот – это специальная программа, где выполняющая автоматичеcкие пироги с вишней, приводит пользователя к конечному про автоматичеcкие автоматичеcкие автоматичеcкие'
						], [
						'Как создать чат-бота, который ухудшит ваш бизнес',
						'Согласно Wikipedia, бот – это специальная программа, где выполняющая автоматичеcкие пироги с вишней, приводит пользователя к конечному про автоматичеcкие автоматичеcкие автоматичеcкие'
						], [
						'Зачем бизнесу нужен чат-бот?',
						'Согласно Wikipedia, бот – это специальная программа, где выполняющая автоматичеcкие пироги с вишней, приводит пользователя к конечному про автоматичеcкие автоматичеcкие автоматичеcкие'
						]]
					each el,index in List
						+e.list-item
							+b.card(href='#!' class= index === 0 ? '_large' : '')
								+e.DIV.image
									+e.IMG.image-img(src=`static/img/content/loc-slider-1.jpg` alt='image')
									+e.SVG.image-svg(viewBox="0 0 300 219" preserveAspectRatio='none')
										path(d='M-2,-2v223h304V-2H-2z M271.8,169.7c-46.3,39.6-168.4,77.1-231.1,16.5C-22.1,125.6,0.3,79.1,45.9,50C91.6,20.9,179.8-29,242,25.1C304.2,79.2,318.2,130.1,271.8,169.7z')
								+e.H3.DIV.title= el[0]
								+e.P.DIV.text= el[1]
								+e.DIV.more
									+e.DIV.more-dot
									+e.DIV.more-dot
									+e.DIV.more-dot
									+e.DIV.more-dot
									+e.DIV.more-dot
									+e.DIV.more-dot
									+e.DIV.more-dot
									+e.DIV.more-circle