extends ../extend/default

block variables
	- var title = 'Contacts page';
	-footerContacts = true
	-map = true

block main
	main.content(data-page='contacts')
		+b.breadcrumbs
			+e.container.container_md
				ul
					li: a(href='#!') Главная
					li: a(href='#!') Контакты
		+b.SECTION.contacts
			+e.container.container_md
				+e.H1.title Контакты
				+e.row
					+e.col_left
						+e.list
							+e.list-col
								+e.list-address.__list-text
									p 05624, Украина, Киев
									p ул. Ярославская, 56
								+e.list-time.__list-text
									p Пн-Пт: 9:00-18:00
									p Сб: 9:00-14:00
									p Вс: выходной
							+e.list-col
								+e.list-phone.__list-text
									p Телефон:
									a(href='tel: +380999318500') +38 (099)-931-85-00
								+e.list-mail.__list-text
									p Почта:
									a(href='mailto: info@unibot.a') info@unibot.a
							+e.list-col
								+e.list-soc-text.__list-text
									p Мы в
									p социальных сетях:
								+e.list-soc.__list-text
									-socList = ['telegram', 'fb', 'insta']
									each el in socList
										+e.list-soc-icon-wrap
											-socIconClass = '_default __list-soc-icon'
											-socIcon = el
											-socHref = true
											include ../components/soc-icon

					+e.col_right
						+e.map-wrap
							+e.map-mask
								+e.map-mask-jelly
									img(src='static/img/map-jelly.svg' alt='image')
								+e.map-mask-mouse
									svg(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewbox='0 0 598.8 438.1')
										path(fill='transparent' d='M0,0v438.1h598.8V0H0z M518.3,327.8c-83.7,71.6-304.1,139.4-417.4,29.8s-73-193.6,9.5-246.2c82.5-52.6,241.7-142.7,354.1-45S602,256.2,518.3,327.8z')
							+e.map(data-map-center='50.471035, 30.517021' data-marker-path='static/img/map-marker.svg')