extends ../extend/default

block variables
	- var title = 'Home page';

block main
	main.content(data-page='home')
		+b.SECTION.screen
			+e.canvas
				+e.SVG.svg.is-hidden
					path#path-screen-1(d='M7.9,21.4c7-8.1,11.4-9.1,25-15S89.2-9.6,96.5,21.2c7.4,31,11.1,76.3-17.6,81.3c-28.7,5-65-11.6-74-32S0.9,29.6,7.9,21.4z')