extends ../extend/default

block variables
	- var title = 'Home page';

block main
	main.content(data-page='home')
		// Navigation
		+b.navigation
			+e.current
			+e.total

		// Navigation-btn
		+b.navigation-btn
			+e.dot
			+e.dot
			+e.dot
			+e.dot
			+e.dot
			+e.dot
			+e.dot
			+e.circle

		include home/screen
		include home/how
		include home/loc
		include home/advantage
		include home/example
		include home/top
