extends ../extend/default

block variables
	- var title = 'Home page';

block main
	main.content(data-page='home')
		include home/screen
		include home/how
		div(style='height: 1000px; background: white;')
