extends ../extend/default

block variables
	- var title = 'Home page';

block main
	main.content(data-page='home')
		include home/screen
		include home/how
		include home/loc
		include home/advantage
		include home/example
		include home/top
