.top
	&__container
		padding: 0 70px
	
	&__title
		margin: 0 auto
		max-width: 720px
		+h2
		text-align: center
	
	&__list
		display: flex
		margin: 45px -25px 0
		&-item
			flex: 1 0 33.333%
			padding: 0 25px
